[2018-10-06 16:55] rathoresrikant opened #1 "Add well known algorithms in the Algorithms folder"
**Please make a sub folder in Algorithms before you add code like**
Divide and Conquer
Graph Theory
Dynamic Programming
Greedy Algorithms
Mathematical Algorithms
Backtracking
Branch and Bound

Please add working codes with proper names.

[2018-10-06 16:57] rathoresrikant opened #2 "Add codes on Data Structures"
Create folders depending on the category like arrays, trees, linked lists, tries etc

[2018-10-06 18:54] SHAFAQUE-NAZ opened #6 "Selection_sort.c"
#include<stdio.h>
void main()
{
int i, j, temp, n, a[20],min;
printf("Enter the size");
scanf("%d",&n);
printf("Enter the elements:");
for(i=0;i<n;i++)
scanf("%d",&a[i]);
for(i=0;i<n-1;i++)
{
min=i;
for(j=i+1;j<n;j++)
{
if(a[j]<a[min])
min=j;
}
temp=a[i];
a[i]=a[min];
a[min]=temp;
}
printf("Sorted array is:");
for(i=0;i<n;i++)
printf("%d",a[i]);
}

[2018-10-07 08:32] #6 closed

[2018-10-09 14:58] rathoresrikant opened #11 "Implement insertion sort in any language"
Add it to the algorithms folder.

[2018-10-09 15:01] rathoresrikant opened #12 "Find majority element in an array."
Given an unsorted array of elements. Find the majority element in the array. (Use Moore's voting)
Details
Programming Language : Any
Time complexity : Linear
Directory : Algorithms

[2018-10-09 16:22] rathoresrikant opened #21 "Finding the pair of elements in an array with maximum sum."
Given an unsorted array of n elements. Find the pair of elements having the maximum sum. Also display the sum. The array may contain duplicates.
Details
Programming language : Any
Time complexity : Linear
Directory : Algorithm

[2018-10-09 16:42] rathoresrikant opened #24 "Implement heap sort in any language."
Please refrain from using plagiarised code. If you are using someone's code, please add credit.

[2018-10-09 16:46] rathoresrikant opened #25 "Implementation of Heap."
Details :`
Programming language : Any
Directory : Data Structures
Create a sub folder for heaps.

[2018-10-09 17:09] krishnakarthik1309 commented on #21
I will write it for `golang`

[2018-10-09 17:43] shubhamguptaji commented on #2
can i contribute in C language?

[2018-10-09 18:45] rathoresrikant opened #30 "String matching algorithms ( KMP, manacher, etc)"
Details :
Programming Language : C / C++ / Java / Python
Directory : Algorithms (Create a folder String)
Explanation : Yes

[2018-10-09 18:48] rathoresrikant opened #31 "Implementation of Dijkstra Algorithm"
Details :
Programming Language :  C/ C++/ Java/ Python
Directory : Algorithms/ Graph Theory
Explanation : Optional
Optimize the running time.

[2018-10-09 18:52] rathoresrikant commented on #2
Yeah. You can.

[2018-10-09 19:08] rathoresrikant opened #32 "Implementation of Trie data structure"
Details
Programming Languages : C, C++
Directory : Data Structures / Trie
Explanation : Optional

[2018-10-09 19:11] karimelghazouly commented on #31
Working on it with C++

[2018-10-09 19:34] Madoxen commented on #24
Can i try to do that? :)

[2018-10-09 19:35] rathoresrikant commented on #24
Yeah ! Sure.

[2018-10-09 19:35] Madoxen commented on #24
Nice! I'm starting work right now.

[2018-10-09 21:17] lgruelas commented on #25
I'm working on it.

[2018-10-09 22:03] yash04g commented on #32
#include<iostream>
#include<string>
using namespace std;
class TrieNode{
public:
	char data;
	TrieNode **children;
	bool isTerminal;
	TrieNode(char data){
		this->data = data;
		children = new TrieNode*[26]; // 26 represents that all the letters are in lower case
		for(int i=0;i<26;i++){
			children[i] = NULL;
		}
		isTerminal = false;
	}

};
class Trie{
	TrieNode *root;
public:
	Trie(){
		root =

[2018-10-10 03:03] shubhamguptaji commented on #32
Can I?

[2018-10-10 09:02] rathoresrikant opened #50 "Depth first search and breadth first search"
Details
Programming language : C, C++, Java, Python
Directory : Algorithms/ Graph Theory
Expanation : Optional
Add proper names for the codes.
Happy coding !

[2018-10-10 12:04] Shaurya62000 commented on #11
`
#include<iostream>
int main()
{
   int i, key, j,arr[40],n;
   cin>>n;
   for(i=0;i<n;i++)
       cin>>arr[i];
   for (i = 1; i < n; i++)
   {
       key = arr[i];
       j = i-1;
       while (j >= 0 && arr[j] > key)
       {
           arr[j+1] = arr[j];
           j = j-1;
       }
       arr[j+1] = key;
   }
}`

[2018-10-10 13:39] iamxlr8 commented on #25
Implemented Heap. Please have a look @rathoresrikant

[2018-10-10 17:01] rathoresrikant opened #56 "Detecting a loop in a linked list"
Details
Programming languages : C, C++, Java, Python
Explanation : Yes
Directory : Data Structures
Please refrain from using plagiarised code. Happy coding !

[2018-10-10 17:03] rathoresrikant opened #57 "Checking if a number is a power of two."
Details :
Programming language : Any
Directory : Algorithms
Explanation : Optional

[2018-10-10 17:04] rathoresrikant opened #58 "Spiral order traversal of a binary tree."
Details :
Programming language : C, C++, Java
Directory : Algorithms
Explanation : Yes

[2018-10-10 17:13] LeCeee commented on #30
I am on it.

[2018-10-10 17:32] LeCeee commented on #56
On it.

[2018-10-10 17:57] erNail commented on #57
Will do this in golang 👍

[2018-10-10 18:51] ikad95 commented on #56
Can I take this?

[2018-10-10 18:52] EnthusiastDeveloper commented on #57
Done in python, [PR](https://github.com/rathoresrikant/HacktoberFestContribute/pull/67) is pending

[2018-10-10 19:49] rathoresrikant opened #68 "Reversing a linked list"
Details
Programming languages : C, C++, Java, Python
Explanation : Yes
Directory : Data Structures
Please refrain from using plagiarised code. Happy coding !

[2018-10-10 21:03] rrishabh145 commented on #68
I am on it.

[2018-10-11 07:47] catmss commented on #58
I'll be adding this one for java soon.

[2018-10-11 10:42] rathoresrikant opened #92 "Implement RSA algorithm"
RSA is an algorithm used by modern computers to encrypt and decrypt messages. It is an asymmetric cryptographic algorithm. (Wikipedia)

**Details**
Programming language : C, C++, Java, Python
Directory : Algorithms
Explanation : Yes

Please comment here to claim the issue. (language specific)
To know more about RSA proceed [here](https://brilliant.org/wiki/rsa-encryption/) .

[2018-10-11 10:42] #11 closed

[2018-10-11 10:43] #12 closed

[2018-10-11 10:43] #21 closed

[2018-10-11 10:43] #24 closed

[2018-10-11 10:43] #30 closed

[2018-10-11 10:52] Pranay10rawat commented on #56
resolved in c++ with explanation

[2018-10-11 10:59] aakash18012 commented on #92
i will take this.

[2018-10-11 11:29] sachincool commented on #92
I'll do this in python

[2018-10-11 12:24] Pranay10rawat opened #94 "DETECTED LOOP IN A LINK LIST IN CPP"

[2018-10-11 12:27] Pranay10rawat opened #95 "resolved in c++ with explanation"
_Originally posted by @Pranay10rawat in https://github.com/rathoresrikant/HacktoberFestContribute/issues/56#issuecomment-428910777_

[2018-10-11 12:28] Pranay10rawat commented on #95
added cpp code to find the cycle in the link linst

[2018-10-11 13:06] Pranay10rawat opened #97 "added cpp code to find the cycle in the link linst"
_Originally posted by @Pranay10rawat in https://github.com/rathoresrikant/HacktoberFestContribute/issues/91#issuecomment-428936388_

[2018-10-11 13:16] #97 closed

[2018-10-11 13:16] #95 closed

[2018-10-11 13:16] #94 closed

[2018-10-11 15:07] rathoresrikant opened #101 "Find the sum of all the multiples of 3 or 5 below N."
**Details**
Programming language : Any
Directory : Algorithms/Mathematical Algorithms
Explanation : Optional
Time complexity : O(1)

[2018-10-11 15:10] williamgherman commented on #101
Hi there! I'll get working on it.

[2018-10-11 17:42] rathoresrikant opened #111 "Sum of keys of all the cousins of a node in a binary tree."
Cousins of a node in a binary tree are those nodes, which are at the same level (same distance from the root) and don't have the same parent as that of the given node (siblings are not cousins :-) ). Given a binary tree and the key of a node, find the sum of keys of all the cousins of the tree. The keys of the nodes are distinct.
**Details :**
Programming language : C, C++, Java, Python
Explanatio

[2018-10-11 17:53] Reisande commented on #92
If no one takes this for C++, I can do it.

[2018-10-11 17:53] caiodangelo commented on #92
Taking the Java version

[2018-10-11 17:53] DanielJoseph98 commented on #101
Going to start in c++!

[2018-10-11 18:01] MattNot commented on #101
Working on it in Javascript!

[2018-10-11 18:10] goore3 commented on #101
Working on it in python

[2018-10-11 18:24] purnendushukla opened #116 "Sub Set Sum Probelm #HactoberFest"
Problem Statement :
Given a set of non-negative integers, and a value sum, determine if there is a subset of the given set with sum equal to given sum.

[2018-10-11 18:27] #116 closed, assigned to nobody

[2018-10-11 18:43] purnendushukla opened #119 "Subset Sum Problem"
Problem Statement:
Given a set of non-negative integers, and a value sum, determine if there is a subset of the given set with sum equal to given sum.

[2018-10-11 18:47] Robcross commented on #101
#115
`#include<bits/stdc++.h>
using namespace std;
int main()
{
    int n,three,five,fifteen;
    cin>>n;
    n=n-1;
    three=n/3;
    five=n/5;
    fifteen=n/15;
    long long int ans;
    ans=(3*(three*(three+1)/2))+(5*(five*(five+1)/2))-(15*(fifteen*(fifteen+1)/2));
    cout<<ans<<endl;
    return 0;
}
`

[2018-10-11 18:52] Ashwin2105 commented on #119
what will be the length of the set??

[2018-10-11 18:55] Robcross commented on #101
#121

[2018-10-11 18:58] #101 closed

[2018-10-11 19:09] #119 closed

[2018-10-11 19:25] Robcross opened #127 "Find the second largest element of the array."
Given an array you have to find the second largest element of the array.
PS: Try to do it without sorting.

[2018-10-11 21:47] krp12345 commented on #111
I can do this. going to implement in all languages.

[2018-10-12 04:01] BlackKite0206233 commented on #127
Can I do this?

[2018-10-12 05:47] rathoresrikant opened #131 "space optimized 0/1 Knapsack Problem using dynamic programming"
**Details :**
Programming language : C, C++, Java, Python
Directory : Algorithms/Dynamic Programming
Time complexity : O(n^2)
Space complexity : Linear
Explanation : Yes
To know more about 0/1 Knapsack Problem proceed [here](https://www.tutorialspoint.com/design_and_analysis_of_algorithms/design_and_analysis_of_algorithms_01_knapsack.htm).

[2018-10-12 07:33] anshulkhattar commented on #127
i want to work on this

[2018-10-12 08:16] krp12345 commented on #111
Done in PR.

[2018-10-12 08:36] krp12345 opened #133 "Max Flow Problems should be included."
We have collected many good DS and Algo codes. But "the king of the Algo" is still not there. There are many interesting problems in Max Flow - Min Cost domain. Can i add Max Flow in a undirected graph problem in Graph Domain?

[2018-10-12 08:50] anshulkhattar commented on #127
Done in #135

[2018-10-12 11:03] rathoresrikant commented on #133
Add it. Thanks.

[2018-10-13 00:50] Kirito129 commented on #50
Depth First Search and Breadth First Search program in C++ #141  in directory Algorithms.

[2018-10-13 01:44] jscd commented on #92
I'll do the C one.

[2018-10-13 19:33] rathoresrikant opened #152 "Given n and k compute the value of nCk (n choose k)"
Details :
Programming language : C, C++, Java, Python
Directory : Algorithms/ Mathematical Algorithms

[2018-10-14 07:00] devikasugathan commented on #127
Completed in #159

[2018-10-14 07:39] #152 closed

[2018-10-14 09:41] Laronk commented on #1
1 Add sieve of Eratosthenes function python implementation #161

[2018-10-14 10:53] devikasugathan commented on #2
Done in #163

[2018-10-14 11:12] devikasugathan commented on #68
Done in #164

[2018-10-14 12:28] rathoresrikant opened #165 "Intersection of two linked lists"
Given the head pointer of two linked lists , find whether they intersect or not. They will intersect if both contain atleast one common node.
**Details :**
Programming language : C, C++, Java
Explanation : Yes
Directory : Data Structures/ Linked lists

[2018-10-14 12:33] rathoresrikant opened #166 "Generate the n catalan numbers in any language."
Given an integer n, print the first n catalan numbers. To know about catalan numbers, proceed [here](https://brilliant.org/wiki/catalan-numbers/).
Add to the directory : Algorithms/Mathematical Algorithms

[2018-10-14 12:34] #25 closed

[2018-10-14 12:34] #31 closed

[2018-10-14 12:34] #32 closed

[2018-10-14 12:35] #50 closed

[2018-10-14 12:35] #56 closed

[2018-10-14 12:35] #57 closed

[2018-10-14 12:35] #58 closed

[2018-10-14 12:36] #68 closed

[2018-10-14 12:36] #92 closed

[2018-10-14 12:36] #127 closed

[2018-10-14 12:42] rathoresrikant opened #167 "Implement the Ford Fulkerson Algorithm."
**Details :**
Programming language : Any
Directory : Algorithms/ Graph Algotihms
Explanation : Yes
To know more about Ford Fulkerson ALgorithm, proceed[here.](https://www.hackerearth.com/practice/algorithms/graphs/maximum-flow/tutorial/)

[2018-10-14 12:43] Laronk commented on #166
Can I take on this issue?

[2018-10-14 13:18] Laronk commented on #166
Did it, see pull request #168

[2018-10-14 16:04] RN0311 commented on #167
I would like to take up this issue! @rathoresrikant

[2018-10-14 16:54] vinay72 commented on #167
I would like to do this.

[2018-10-14 17:40] Reisande commented on #92
check

[2018-10-15 06:14] rathoresrikant opened #180 "Printing all the amstrong numbers in a given range."
An Armstrong number of three digits is an integer such that the sum of the cubes of its digits is equal to the number itself.
**Details :**
Programming language : Any
Directory : Algorithms/Mathematical Algorithms

[2018-10-15 11:14] rathoresrikant opened #184 "Print all the perfect numbers in a given range."
Given a range of numbers (L to R) , print all the [perfect numbers ](https://en.wikipedia.org/wiki/Perfect_number) within L and R (inclusive) in any language.
Directory : Algorithms/Mathematical Algorithms

[2018-10-15 12:10] kalpesh30 commented on #184
I would like to work on this issue. Can I do?

[2018-10-15 12:35] nirupamgunwal commented on #184
I would be working on it in Python. Can i work on it @rathoresrikant ?

[2018-10-15 12:43] kalpesh30 commented on #180
Can I work on it @rathoresrikant ji?

[2018-10-15 13:12] #184 closed

[2018-10-15 13:12] #180 closed

[2018-10-16 15:03] rathoresrikant opened #196 "In a string, convert all the lowercase letters to upper case and vice versa."
Programming language : Any

[2018-10-16 15:17] rathoresrikant opened #198 "Given a string, remove all the occurences of a substring of that string."
Programming language : Any

[2018-10-16 16:33] aneeshnema commented on #198
see #206

[2018-10-16 16:45] codetochangeMinds commented on #196
See #207

[2018-10-16 16:52] aneeshnema commented on #196
See #206

[2018-10-16 17:20] codetochangeMinds commented on #166
See #208 for cpp implementation

[2018-10-16 17:29] codetochangeMinds commented on #167
I would also like to implement in c++ @rathoresrikant

[2018-10-17 07:56] rathoresrikant opened #217 "Print all the permutations of a string in any language."

[2018-10-17 09:11] krp12345 commented on #133
Done in PR.

[2018-10-17 09:16] krp12345 opened #220 "Geometry algorithm domain should be included."
There are large domain of geometry algorithms. I want to add that. I have done completed convex hull problem. I want to submit.

[2018-10-17 09:37] Piyush-Pragyan commented on #217
def permute_string(str):
    if len(str) == 0:
        return ['']
    prev_list = permute_string(str[1:len(str)])
    next_list = []
    for i in range(0,len(prev_list)):
        for j in range(0,len(str)):
            new_str = prev_list[i][0:j]+str[0]+prev_list[i][j:len(str)-1]
            if new_str not in next_list:
                next_list.append(new_str)
    return next_list
#This python w

[2018-10-17 09:40] rathoresrikant commented on #220
Yeah. You can add. Thanks for the contribution.

[2018-10-18 08:45] codetochangeMinds commented on #217
See #229

[2018-10-18 17:16] rathoresrikant opened #238 "Implement various CPU scheduling algorithms."
**Details**
Programming language : Any
Directory : CPU Scheduling
Explanation : Yes

[2018-10-19 14:16] rathoresrikant opened #263 "Find the length of longest palindromic sub sequence in a string"

[2018-10-19 15:04] vivekcrux commented on #1
Added floyd warshall algorithm for finding all pair shortest path in an undirected weighted graph  #265

[2018-10-19 15:21] rathoresrikant opened #266 "Find the first non-repeating character in a string."
Programming language : Any

[2018-10-19 16:03] arjbholu commented on #263
#268

[2018-10-19 17:34] codetochangeMinds commented on #1
Added Extended Euclid GCD algorithm for finding inverse of number modulo n. #274

[2018-10-19 17:58] rathoresrikant opened #275 "Given two strings, check whether they are anagrams of each other or not."

[2018-10-19 19:14] rathoresrikant opened #281 "Find the lexicographic rank of a string."
Programming language : Any

[2018-10-19 19:17] rathoresrikant opened #282 "Given a string, remove all vowels from it."

[2018-10-19 20:57] AniMysore74 commented on #281
Sent PR.
https://github.com/rathoresrikant/HacktoberFestContribute/pull/298

[2018-10-20 03:57] arjbholu commented on #275
#304

[2018-10-20 04:17] arjbholu commented on #282
#305

[2018-10-20 08:14] rathoresrikant opened #313 "Remove extra spaces from a string."
Given a string that contains many extra spaces between two words. Remove the consecutive space such that there two words are separated by a single white space.
Programming language : Any

[2018-10-20 08:59] sharad-sharma commented on #313
can i work on it

[2018-10-20 09:53] HemantKhatri004 commented on #313
This code replaces a consecutive set of whitespace characters (\s+) by a single white space. Note that a white-space character also includes tab and newlines. Replace \s by a space if you only want to replace spaces.

var string = "    This    should  become   something          else   too . ";
string = string.replace(/\s+/g, " ");

[2018-10-20 13:29] rathoresrikant opened #319 "Remove all of consecutive vowels from a string."
Given a string, if it contains consecutive vowels remove all of them.
e.g.
beautiful -> btiful
github -> github
weaver -> wver

[2018-10-20 13:41] smoholkar commented on #319
Can I take this one ?

[2018-10-20 13:45] WojciechMalicki commented on #319
Can I solve this problem in Python?

[2018-10-20 13:55] jaskarans2000 commented on #319
can i work on it?

[2018-10-20 14:34] anjalijaiswal08 opened #323 "Find fibonacci series using dynamic programming in C++."
I want to work on this issue.

[2018-10-20 14:40] anjalijaiswal08 opened #324 "To check if a given linked list is palindrome or not in C++."
I would like to work on this.
@rathoresrikant  should I go with this?

[2018-10-20 14:41] anjalijaiswal08 opened #325 "Remove duplicates from linked list."
I would like to work on this.
@rathoresrikant  should I go with this?

[2018-10-20 14:42] anjalijaiswal08 opened #326 "Implement doubly linked list."
I would like to work on this.
@rathoresrikant should I go with this?

[2018-10-20 14:56] swapnil-sh commented on #319
Can I solve this one?

[2018-10-20 15:10] rathoresrikant commented on #323
Sure !

[2018-10-20 15:32] aditj commented on #319
Can i work on this(python)?

[2018-10-20 18:32] ryoung3 commented on #325
I would like to work on this (Java).
@rathoresrikant

[2018-10-20 19:23] rathoresrikant opened #346 "Print the common characters of two strings in alphabetical order."
Programming language : Any

[2018-10-20 19:30] swaager commented on #346
I will write in python

[2018-10-20 20:32] taverasmisael commented on #346
Where the solution file should be located?

[2018-10-21 10:03] j07nikita commented on #217
All permutations of a string in c++ added. Check once [#366](https://github.com/rathoresrikant/HacktoberFestContribute/pull/366)

[2018-10-21 10:54] #313 closed

[2018-10-21 17:09] SarveshBajaj commented on #282
Is this issue still open?
If yes, Can I work on it?

[2018-10-21 17:13] SarveshBajaj commented on #326
Is this issue open?? Can I work on it?

[2018-10-21 17:31] SarveshBajaj commented on #266
Is it still open to work upon?
I would like to have a go at it

[2018-10-21 17:33] rathoresrikant commented on #266
Check if someone has already added the code in the same language as yours. If not, you are good to go.

[2018-10-21 17:38] SarveshBajaj commented on #326
Here is my pull request:
https://github.com/rathoresrikant/HacktoberFestContribute/pull/373

[2018-10-21 17:40] SarveshBajaj commented on #266
Thanks

[2018-10-21 18:14] SarveshBajaj commented on #266
Here is my pull request:
[https://github.com/rathoresrikant/HacktoberFestContribute/pull/373/](url)

[2018-10-21 18:15] SarveshBajaj commented on #266
Pull request:
https://github.com/rathoresrikant/HacktoberFestContribute/pull/373/

[2018-10-22 04:59] anjalijaiswal08 opened #380 "Create a circular queue"
I would like to work on this.
@rathoresrikant  should I go with this?

[2018-10-22 06:50] SarveshBajaj commented on #263
I am working on it (python)

[2018-10-22 06:52] rathoresrikant opened #381 "Check if a singly linked list is a palindrome."
Programming language : Any
Directory : Data Structures/ Linked Lists

[2018-10-22 06:54] rathoresrikant opened #382 "Check if a singly linked list is a palindrome."
Programming language : Any
Directory : Data Structures/ Linked Lists

[2018-10-22 08:34] #111 closed

[2018-10-22 12:01] #382 closed

[2018-10-22 15:10] akashbisht81 commented on #381
/* USE THIS CODE IN C
 * C Program to Check whether a Singly Linked List is a Palindrome
 */
#include <stdio.h>
#include <stdlib.h>

struct node
{
    int num;
    struct node *next;
};

int create(struct node **);
int palin_check (struct node *, int);
void release(struct node **);

int main()
{
    struct node *p = NULL;
    int result, count;

    printf("Enter data into the list\n");
    count

[2018-10-22 18:50] lukyhruska96 commented on #381
Added here: 1610825

[2018-10-22 18:51] Vatuu commented on #325
I'll throw something together in C++

[2018-10-22 20:12] albertaleksieiev opened #396 "LRU cache"
Add a Least recently used (LRU) cache. And test it in [Leetcode](https://leetcode.com/problems/lru-cache/description/).

[2018-10-22 20:13] albertaleksieiev commented on #396
Resolved and tested in #347

[2018-10-23 08:28] #346 closed

[2018-10-23 08:46] rathoresrikant opened #407 "Print the middle of a given linked list."
Programming language : Any
Directory : Data Structures/ Linked Lists

[2018-10-23 08:48] SarveshBajaj commented on #407
working on it in C/C++

[2018-10-23 09:02] SarveshBajaj commented on #407
https://github.com/rathoresrikant/HacktoberFestContribute/pull/408

[2018-10-23 10:58] anjalijaiswal08 opened #413 "Max of two numbers without using if-else or any comparitive operator."
I want to add a folder of some tricky or brain-teaser questions.
I would like to work on this.
@rathoresrikant  should I go with this?

[2018-10-23 11:01] anjalijaiswal08 opened #414 "Number of zeros in factorial of number."
Under tricky question folder.
I would like to work on this.
@rathoresrikant  should I go with this?

[2018-10-23 11:58] biswaroop1547 opened #416 "Peak finding algorithm in 1D and 2D array."

[2018-10-23 12:00] biswaroop1547 commented on #416
I would like to solve this in python3 code

[2018-10-23 12:20] biswaroop1547 opened #418 "Kaprekar number checker."

[2018-10-23 12:20] biswaroop1547 commented on #418
I would like to solve this in python3 :)

[2018-10-23 12:47] biswaroop1547 commented on #418
Added Kaprekar number checker too

[2018-10-23 13:27] smritipillai opened #423 "Find nth node from end of Linked List"
Finding the nth node from the end of the linked list using Java.

[2018-10-23 14:56] 01shobitha opened #428 "Hans Solo and Lazer gun."
A codeforces problem([#514B](https://codeforces.com/problemset/problem/514/B))

[2018-10-23 15:09] erickos commented on #413
I've made the solution on python for the max between two numbers. But i'm a brazilian student and my english isn't much good. Then you guys can help me to improve the function description for other people have a better understand of this code. The code is on src/ directory of this project. Can someone help me?

[2018-10-23 15:45] #414 closed

[2018-10-23 15:46] #324 closed

[2018-10-24 10:06] sandesh-thakar commented on #217
Created a C program to find all permutations of a string. Check #443.

[2018-10-24 13:10] #131 closed

[2018-10-24 13:10] #133 closed

[2018-10-24 13:10] #165 closed

[2018-10-24 13:12] rathoresrikant opened #446 "Sorting of a linked list"
**Details :**
Programming language : Any
Directory : Data Structures/ Linked Lists/ Sorting

[2018-10-24 16:46] ashwani99 commented on #446
@rathoresrikant Can I take this?

[2018-10-24 18:46] charubansal12 commented on #282
@rathoresrikant  I have created a PR for this issue in cpp, can you review it? https://github.com/rathoresrikant/HacktoberFestContribute/pull/332

[2018-10-24 18:58] rathoresrikant opened #456 "Swap two numbers without using a temporary variable."
Programming language : Any

[2018-10-24 19:00] rathoresrikant opened #457 "Print the binary representation of a given integer."
Programming language : Any
Directory : Algorithms

[2018-10-24 19:45] sagarkansal commented on #456
I would like to contribute to it. #456

[2018-10-24 20:31] bicmfcs commented on #457
see #466

[2018-10-24 20:34] pariola commented on #456
can one still add using another language???

[2018-10-24 20:41] sagarkansal commented on #456
Actually i didn't get what you are trying to say.

[2018-10-24 20:42] sbhmgupta commented on #428
@01shobitha I would like to work on this issue.

[2018-10-24 20:43] bicmfcs commented on #456
see #469

[2018-10-24 20:44] pariola commented on #456
@sagarkansal I was asking if one is allowed to add the same solution in another language!

[2018-10-24 20:58] sagarkansal commented on #456
Yes, it can be done in any language.

[2018-10-24 21:22] santiago177 commented on #457
https://github.com/rathoresrikant/HacktoberFestContribute/pull/474

[2018-10-25 07:36] sagarkansal commented on #456
Yes everyone is allowed to any changes.

[2018-10-25 09:01] rathoresrikant opened #483 "Find the number of times an element occurs in a sorted array."

[2018-10-25 09:20] WebDevRaj commented on #483
I'll do this in java

[2018-10-25 16:43] DeepanshAgrawal commented on #483
Done in C++.
Have a Look.
https://github.com/DeepanshAgrawal/HacktoberFestContribute/blob/master/Algorithms/Array/count%20occurence.cpp

[2018-10-26 08:11] #325 closed

[2018-10-26 08:12] #326 closed

[2018-10-26 14:04] Rajputakshay commented on #457
#include<iostream>
using namespace std;
class A
{
 int x,n,k,a[2000],i,j;
 public:A(int o)
 {k=o;}
 void binary_equiv()
 {i=0;
 x=k;
 while(x!=1)
 {a[i]=x%2;
 x/=2;
 i+=1;}}
 void display()
 {
 int r=1;
 for(j=i-1;j>=0;j--)
 {
     r++;
 }
 n=8-r;

 cout<<"\nThe binary equivalent of "<<k<<" is :";
 j=1;
 while(j<=n)
{ cout<<"0";
  j+=1;}
  cout<<"1";
 for(j=i-1;j>=0;j--)
{cout<<a[j];}
}
};

int ma

[2018-10-26 17:58] cheevu-RS commented on #456
will write cpp code

[2018-10-26 18:41] #238 closed

[2018-10-26 18:41] #381 closed

[2018-10-26 18:41] #456 closed

[2018-10-26 18:41] #263 closed

[2018-10-26 18:41] #446 closed

[2018-10-26 19:45] YASHYK47 commented on #483
Done in c

[2018-10-27 07:58] Chaitanya-Raj commented on #275
done
#538

[2018-10-27 11:41] sandesh-thakar commented on #217
Corrected a small mistake in swapping the variables. Check  #545

[2018-10-27 18:22] rathoresrikant opened #570 "Move all zeroes to the end of an array."
Programming language : Any

[2018-10-27 18:23] rathoresrikant opened #571 "Find the pair of elements with maximum product in an array."

[2018-10-27 18:26] rathoresrikant opened #572 "Delete the middle node of a linked list."
Programming language : Any
Directory : Data Structures/ Linked Lists

[2018-10-27 18:28] rathoresrikant opened #573 "Check whether the length of a linked list is even or odd."

[2018-10-27 18:30] vivekarya99 commented on #571
def maxProduct(arr, n):

    if (n < 2):
        print("No pairs exists")
        return

    # Initialize max product pair
    a = arr[0]; b = arr[1]

    for i in range(0, n):

        for j in range(i + 1, n):
            if (arr[i] * arr[j] > a * b):
                a = arr[i]; b = arr[j]

    print("Max product pair is {", a, ",", b, "}",
                                          sep = "")

#

[2018-10-27 18:32] rathoresrikant opened #574 "Reverse a stack using recursion."
Programming language : Any
Directory : Data Structures/Linked Lists

[2018-10-27 18:32] Rajat-dey commented on #571
I am adding the code in the pull request

[2018-10-27 18:33] #266 closed

[2018-10-27 18:34] #282 closed

[2018-10-27 18:34] #418 closed

[2018-10-27 18:34] rathoresrikant opened #575 "Delete the middle element of a stack."
Programming language : Any
Directory : Data Structures/Stacks

[2018-10-27 18:35] rathoresrikant opened #576 "Reverse a string using stack."
Programming language : Any
Directory : Data Structures/Stacks

[2018-10-27 18:39] lalit97 commented on #570
I would like to work on this problem

[2018-10-27 18:42] shreenaathia commented on #576
Can I work on this issue ?

[2018-10-27 18:50] Rajat-dey commented on #573
I have added the code in your repository, please check it and make it submitted.

[2018-10-27 18:53] Rajat-dey commented on #573
It is under linked list folder, do check it.

[2018-10-27 18:55] Rajat-dey commented on #574
The code is added in the respective directory, do close the issue after checking it.

[2018-10-27 19:11] Rajat-dey commented on #575
The code is coded in the respective directory, check it

[2018-10-27 19:25] rathoresrikant opened #587 "Move the last element to the front of a given linked list."
Programming language : Any
Directory : Data Structures/Linked Lists

[2018-10-27 19:32] Rajat-dey commented on #587
Working on this project..

[2018-10-27 19:35] Rajat-dey commented on #587
The code is added in the respective Directory.

[2018-10-27 19:41] johnsoncarl commented on #572
i have worked on this, i have a complete test program . I can help.

[2018-10-27 19:42] rathoresrikant opened #594 "Print the nodes at the odd levels of a binary tree."
**Details:**
Programming language : Any
Directory : Data Structures/Trees

[2018-10-27 19:46] Rajat-dey commented on #594
Working on it.

[2018-10-27 19:50] Rajat-dey commented on #594
The is resolved and the code is pulled under a binary tree in Data Structure

[2018-10-28 00:09] ruanchaves commented on #594
Python #608

[2018-10-28 02:34] vivekarya99 commented on #594
using namespace std;

struct Node {
    int data;
    Node* left, *right;
};

void printOddNodes(Node *root, bool isOdd = true)
{
    // If empty tree
    if (root == NULL)
      return;

    // If current node is of odd level
    if (isOdd)
       cout << root->data << " " ;

    // Recur for children with isOdd
    // switched.
    printOddNodes(root->left, !isOdd);
    printOddNodes(root->right

[2018-10-29 17:14] saggu10417 commented on #319
Working on it in c. #319

[2018-10-30 07:11] #574 closed

[2018-10-30 07:12] #575 closed

[2018-10-30 07:12] #587 closed

[2018-10-30 12:30] ccampean commented on #587
For some season the [
f4b9541 ](https://github.com/rathoresrikant/HacktoberFestContribute/pull/709/commits/f4b95414090824b701841ed394bb89a201f1ea8c) commit entered on the [709](https://github.com/rathoresrikant/HacktoberFestContribute/pull/709) PR but I wanted to be a separate pull request

[2018-10-31 05:57] #572 closed

[2018-10-31 07:31] #483 closed

[2018-10-31 21:51] charBap opened #745 "Pernicious number using bit manipulation"
Adding c++ program that prints first n pernicious numbers

[2018-11-06 04:57] 01shobitha commented on #428
Sure, why not :)

[2019-09-30 18:52] rathoresrikant opened #755 "Catalan number"
Write a program to find the nth Catalan number ?
**Details :**
Programming language :  Any
Directory : Algorithms/Dynamic Programming (DP code)
                 Algorithms/Mathematical Algorithms (Brute force)
Naming : catalan_yourname.extension
Explanation : Optional

To know about Catalan Numbers, proceed [here.](https://brilliant.org/wiki/catalan-numbers/)

[2019-09-30 19:19] ronika-das commented on #755
would like to do this

[2019-09-30 19:42] osoba commented on #755
added the nth catalan number in python https://github.com/rathoresrikant/HacktoberFestContribute/pull/757

[2019-10-01 13:27] moinak878 commented on #323
Hello , I want to work on this issue @rathoresrikant for Hacktober Fest .
Shall i go ahead ?

[2019-10-01 13:47] Gauri0799 commented on #319
I would like to work on this issue

[2019-10-02 15:12] kichloo opened #782 "Done?"

[2019-10-02 15:12] #782 closed

[2019-10-02 16:44] longdead-ai commented on #745
I would like to take this issue.

[2019-10-02 16:49] longdead-ai commented on #745
Where should I include this?

[2019-10-03 10:39] rak108 commented on #755
added the nth catalan numberin C.
https://github.com/rathoresrikant/HacktoberFestContribute/pull/799

[2019-10-05 09:03] kooljais24 opened #814 "Print n terms of Newman-Conway Sequence"

[2019-10-05 23:59] namanvats commented on #814
I am on it.

[2019-10-06 11:58] orichamaru opened #825 "Finding all subsequence of an array using Recursion"

[2019-10-06 11:58] orichamaru commented on #825
Can I work on this?

[2019-10-06 16:47] AdiY2j commented on #755
I would like to do in C++

[2019-10-07 12:26] smdp2000 commented on #1
Added Rabin Karp Algorithm #843

[2019-10-08 19:19] techfreakology opened #854 "Bellman Ford Algorithm in C++"
Bellman Ford is an algorithm that computes shortest paths from a single source vertex to all of the other vertices in a weighted digraph. The graph may contain negative weight edges.
I want to work on this.

[2019-10-08 19:26] techfreakology opened #856 "Disjoint Sets"
I want to work on this.

[2019-10-12 12:44] yokaiemporer commented on #814
#899

[2019-10-12 12:44] yokaiemporer commented on #594
#901

[2019-10-13 07:23] smdp2000 commented on #1
@rathoresrikant  please review my pr #843

[2019-10-13 10:54] PiyushMalu opened #910 "accept to merge"
i posted a code of removing duplicates from sorted linked list.c could u please merge the code?
is there any issue with the code??

[2019-10-14 00:25] rak108 opened #913 "nth catalan number"
submitted a pr kindly check
https://github.com/rathoresrikant/HacktoberFestContribute/pull/799

[2019-10-15 20:46] NripeshKumar opened #925 "No. of square matrix in a rectangular matrix"
Want to implement using C++

[2019-10-19 04:39] yashgrwl commented on #319
Can I solve this one?

[2019-10-22 13:25] #854 closed

[2019-10-22 19:39] NripeshKumar opened #996 "sum of all leaf nodes in a tree using C++"

[2019-10-22 19:39] NripeshKumar commented on #996
want to implement it

[2019-10-23 04:17] adityasinghbaghel commented on #576
### Reversing string using stack.
[stack.txt](https://github.com/rathoresrikant/HacktoberFestContribute/files/3760104/stack.txt)
**Most of the stack problem is easy to solve using stack of characters.**

[2019-10-25 17:33] #996 closed

[2019-10-27 17:35] namanvats commented on #856
I am working on this.

[2019-10-27 17:36] namanvats commented on #573
I am on it.

[2020-09-25 07:24] ravikr126 commented on #413
Can I work on it.  I will make code in c++ @rathoresrikant
[find max.txt](https://github.com/rathoresrikant/HacktoberFestContribute/files/5281234/find.max.txt)

[2020-09-30 08:20] hacktoberfest-team opened #1086 "Pull requests here won’t count toward Hacktoberfest."
Hi there,

Thank you for your interest in Hacktoberfest and in helping others make their first contributions to open source.

While we agree that it's important to help others, this repository does not do this in a way that is in line with [the Hacktoberfest values](https://hacktoberfest.digitalocean.com/details). Please read the part that talks about high-quality contributions to understand why w

[2020-10-07 12:01] Subhodeep2000 commented on #825
Is this issue still open? Can I work on this

[2020-10-20 09:09] Udhay-Brahmi opened #1178 "Check whether number belongs to Fibonacci series or not."

[2020-10-20 09:10] Udhay-Brahmi commented on #1178
#1179 ( Solved, plz merge it into master branch.)

[2020-10-22 06:36] babitha667 commented on #323
Can I work on this please @rathoresrikant

[2021-05-18 03:53] AyushRaj8271 commented on #573
Hey ! Is this issue still available ?

[2021-05-18 04:08] rathoresrikant commented on #573
Yes

[2021-08-10 17:28] #913 closed

[2021-10-02 16:29] 0xn1k commented on #380
Please assign it to me I would like to solve this issue using C++

[2021-10-02 16:31] 0xn1k commented on #2
I want to contribute in this project can is go for it .

[2021-10-03 05:38] Nazir-Programmer commented on #856
I am working on this

[2021-10-04 13:58] priyanshiparolia commented on #413
Can I work on this with C/C++?

[2021-10-11 17:48] paridhi-jain-047 opened #1240 "Rotate matrix by 90 degree anticlockwise.cpp"
Hello,

I would like to add my plagiarism free code to your repository.

My pull request ID is #1239

Hope you would consider it.

[2021-10-25 07:15] Kashish05 commented on #423
@smritipillai @rathoresrikant  Can you please assign it to me. I want to contribute its code in C++?

[2021-10-25 07:16] Kashish05 commented on #196
@rathoresrikant  Can you please assign it to me. I want to contribute its code in c++?

[2021-10-25 07:16] Kashish05 commented on #275
@rathoresrikant  Can you please assign it to me. I want to contribute its code in c++?

[2021-10-25 07:17] Kashish05 commented on #413
@rathoresrikant  Can you please assign it to me. I want to contribute its code in c++?

[2021-10-25 07:17] Kashish05 commented on #570
@rathoresrikant  Can you please assign it to me. I want to contribute its code in c++?

[2021-10-25 07:17] Kashish05 commented on #571
@rathoresrikant  Can you please assign it to me. I want to contribute its code in c++?

[2021-10-25 09:25] rathoresrikant commented on #571
@Kashish05 Please raise Pull Request to contribute. Thanks.

[2021-10-31 11:01] Pushkar03 opened #1254 "Create a Doubly linked list"
I would like to create a doubly linked list with all its operation including insertion,deletion and display of the elements of the list.

[2022-09-30 03:47] Ayan-Sharma-aks commented on #1254
Hi Pushkar, I would like to resolve this issue. Please assign it to me in order to do the needful.

[2022-10-05 15:44] subh839 commented on #925
Hi please assign me this project

[2022-10-06 14:59] harshita9621 opened #1259 "Merge Two Sorted Lists"
You are given the heads of two sorted linked lists list1 and list2.

Merge the two lists in a one sorted list. The list should be made by splicing together the nodes of the first two lists.

Can I work on this issue in Hacktoberfest 2022.

[2022-10-07 14:07] janvichoudhary08 commented on #1259
hey please  assign me  this issue as a part of  hacktoberfest.

[2022-10-07 14:07] janvichoudhary08 commented on #1254
hey please  assign me  this issue as a part of  hacktoberfest.

[2022-10-07 14:08] janvichoudhary08 commented on #570
hey please  assign me  this issue as a part of  hacktoberfest.

[2022-10-07 14:08] janvichoudhary08 commented on #323
hey please  assign me  this issue as a part of  hacktoberfest.

[2022-10-07 14:18] #1254 closed, assigned to nobody

[2022-10-09 11:02] Shivanii28 commented on #1178
can u assign this problem to me

[2022-10-09 11:03] Shivanii28 commented on #825
can u assign to me

[2022-10-09 11:04] Shivanii28 commented on #570
can u assign to me

[2022-10-13 17:47] SakshamSharma07 commented on #1259
@harshita9621  i am intrested in solving this issue. please assign me this project

[2022-10-15 03:47] Ajit619 commented on #1240
Bro I have very optimal code for this please give me

[2022-10-15 03:47] Ajit619 commented on #1240
I will also add comments in code to know the flow easiest code for begineers

[2022-10-20 06:40] ghost commented on #1259
Hey @harshita9621  can assign this issues to me I am glad to contribute in your repository

[2022-10-26 02:41] ghost commented on #2
Can I add some DS codes in this repository @rathoresrikant

[2022-10-26 03:00] rathoresrikant commented on #2
Yes